<% include ../snippets/header.html %>

<link rel="stylesheet" href="/fonts/foundation/foundation-icons.css">
<link rel="stylesheet" href="/fonts/foundation/foundation-icons.ttf">
<link rel="stylesheet" href="/styles/admin/panel.css">
<link rel="stylesheet" href="/styles/admin/users.css">
<div class="off-canvas-wrap">
	<div class="inner-wrap">
		<nav class="tab-bar">
			<section class="left-small">
				<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
			</section>
			<section class="middle tab-bar-section">
				<h1 class="title"><a href="/panel">Dashboard</a></h1>
			</section>
		</nav>
		<aside class="left-off-canvas-menu">
			<ul class="off-canvas-list">
				<li><label>Menu</label></li>
				<li><a href="/panel/users">Users</a></li>
				<li><a href="/panel/settings">Settings</a></li>
			</ul>
		</aside>
		<section class="main-section">
			<br>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Username</th>
						<th>Email</th>
						<th>Role</th>
						<th>Change password?</th>
						<th>Remove user?</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < users.length; i++) { %>
					<tr>
						<td><%= users[i].firstName %> <%= users[i].lastName %></td>
						<td><%= users[i].username %></td>
						<td><%= users[i].email %></td>
						<td><%= users[i].permissions %></td>
						<td>Change password</td>
						<td><a href="#" class="removeUserModalButton" data-user-id="<%= users[i]._id %>" data-reveal-id="removeUserModal"><i class="fi-x"></i></a></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<br>
			<form method="POST" action="/panel/users/create">
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-4 columns">
							<label for="firstName" class="right inline">First name</label>
							</div>
							<div class="small-8 columns">
								<input type="text" id="firstName" name="firstName" placeholder="Johnny" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-4 columns">
								<label for="lastName" class="right inline">Last name</label>
							</div>
							<div class="small-8 columns">
								<input type="text" id="lastName" name="lastName" placeholder="Appleseed" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-4 columns">
								<label for="email" class="right inline">Email</label>
							</div>
							<div class="small-8 columns">
								<input type="email" id="email" name="email" placeholder="johnny.appleseed@gmail.com" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-4 columns">
								<label for="username" class="right inline">Username</label>
							</div>
							<div class="small-8 columns">
								<input type="text" id="username" name="username" placeholder="johnny.appleseed" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-4 columns">
								<label for="password" class="right inline">Password</label>
							</div>
							<div class="small-8 columns">
								<input type="password" id="password" name="password" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-4 columns">
								<label for="confirmPassword" class="right inline">Password again</label>
							</div>
							<div class="small-8 columns">
								<input type="password" id="confirmPassword" name="confirmPassword" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-4 columns">
								<label for="user-role" class="right inline">Role</label>
							</div>
							<div class="small-8 columns">
								<select id="user-role" name="role">
									<option value="superuser">Superuser</option>
									<option value="administrator">Administrator</option>
									<option value="editor">Editor</option>
									<option value="writer">writer</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-9">
						<div class="row">
							<div class="small-8 columns">
							</div>
							<div class="small-4 columns">
								<button type="submit">Submit!</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
		<a class="exit-off-canvas"></a>
	</div>
</div>

<div id="removeUserModal" class="reveal-modal" data-reveal>
  <h2>Are you sure you wish to remove this user?</h2>
  <p>This action cannot be undone.</p>
  <a href="#" id="removeUser" class="button success">Continue.</a>
  <a href="#" id="cancelRemoveUser" class="button alert">Cancel.</a>
</div>

<div data-alert class="alert-box success radius">
  <p>Way to go! That user is out of here!</p>
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box warning radius">
  <p>Something went wrong, please try again.</p>
  <a href="#" class="close">&times;</a>
</div>

<script src="/scripts/admin/panel/users.js"></script>
<% include ../snippets/footer.html %>
